.vs/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
MightyTerrainMesh.sln
Library/
obj/
Packages/packages-lock.json
Temp/
UserSettings/
Unity.RenderPipeline.Universal.ShaderLibrary.csproj
Unity.RenderPipelines.Universal.Editor.csproj
Unity.RenderPipelines.Universal.Runtime.csproj
Unity.RenderPipelines.Universal.Shaders.csproj
Logs/
ProjectSettings/BurstAotSettings_Android.json
ProjectSettings/CommonBurstAotSettings.json
PPv2URPConverters.csproj
UnityEngine.UI.csproj
